<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Authors</th>
			<th>Action</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}">title</td>
			<td th:text="${book.title}">title</td>
			<td th:text="${book.authors}">title</td>
			<td>
				<form method="post"
					action="http://localhost:9721/workshop/dell-book-by-id">
					<input type="hidden" name="id" th:value="${book.id}" />
					<button type="submit">delete</button>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>