<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Pierwsza strona</title>
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	
</head>
<body>
<script>

</script>
	<p class="sample" th:inline="text">Książka o tytule
		"[[${book.title}]]" została usunięta.</p>
	<button border="1" onclick="window.location.href='http://localhost:9721/workshop/books'">back</button>

</body>
</html>