<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Pierwsza strona</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" media="all" />
 <link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
	
</head>
<body>
<script>

</script>
		<h3><span th:inline="text" class = "label label-info">Książka o tytule
		"[[${book.title}]]" została usunięta.</span></h3>
	<button class = "btn btn-primary" border="10" onclick="window.location.href='/workshop/books'">back</button>

</body>
</html>